

<img src="/assets/img/burger.png" alt="Juicy Burger" styleheight="400" width="400">

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>

<h1 class="center">Eat-da-Burger!</h1>

<h2 class="center">Add a Burger</h2>
<form class="create-form center">

  <div class="form-group center">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>
  
  <button type="submit" class="center">Add Burger</button>
</form>

